  <ul class="flex items-center text-sm font-medium h-full">
    
    {% if user.is_authenticated %}
      <li class = "nav_link ml-8 border-b-2 border-white hover:border-gray-600 h-full flex items-center"><a class="px-5 py-10 text-gray-800" href="{{user.get_absolute_url}}">Profile</a></li>
      <li class = "nav_link ml-8 border-b-2 border-white hover:border-gray-600 h-full flex items-center"><a class="px-5 py-10 text-gray-800" href="{%url 'users:logout' %}">Log out</a></li>
    {% else %}
      <li class = "nav_link ml-8 border-b-2 border-white h-full flex items-center  hover:border-gray-600 "><a class="px-5 py-10 text-gray-800" href="{%url 'users:login' %}">Log in</a></li>
      <li class = "nav_link hover:border-gray-600 "><a href="{%url 'users:signup' %}">Sign Up</a></li>
    {% endif %}

  </ul>

<!-- django는 context_processors라는걸 갖고있음
    이게 뭐냐면 template에 정보를 추가하는 함수임
    어디서든 그 template으로 접근할 수 있음
    꼭 해당 view의 context가 아니라도 상관없음.

    이 경우에는 context_precessors가 cookie를 갖고 와서
    user를 찾고 그걸 template에 자동으로 넣어줌
-->  
