{% extends "base.html" %}

{% block rooms_title %}
Search
{% endblock rooms_title %}

{% block search-bar %}{% endblock search-bar %}

{% block content %}
<h2>Search!!</h2>

<form method="get" action="{%url 'rooms:search' %}">
  {{form.as_p}}
  <button type="submit">Search</button>
</form>



<h3>Results</h3>    
 
    {% for room in rooms  %}
      <h3>{{room.name}}</h3>
    {% endfor %}

    <h5>

      {% if rooms.has_previous %}
      <!-- <a href="{{request.get_full_path}}&page={{romms.previous_page_number}}">Previous</a> -->
      <!-- <a href="{{current_url}}&?page={{romms.number|add:-1}}">Previous</a> -->
      <a href="{{current_url}}&page={{rooms.previous_page_number}}">Previous</a>
      {% endif %}
  
       Page {{rooms.number}} of {{rooms.paginator.num_pages}}
  
  
      {% if rooms.has_next %}
      <!-- <a href="{{request.get_full_path}}&page={{rooms.next_page_number}}">Next</a> -->
      <!-- <a href="{{current_url}}&?page={{rooms.number|add:1}}">Next</a> -->
      <a href="{{current_url}}&page={{rooms.next_page_number}}">Next</a>
      {% endif %}
  
  
  </h5>

{% endblock content %}
