{% extends "base.html" %}

{% block rooms_title %}
Search
{% endblock rooms_title %}

{% block search-bar %}{% endblock search-bar %}

{% block content %}
<h2>Search!!</h2>

<form method="get" action="{%url 'rooms:search' %}">
  {{form.as_p}}
  <button type="submit">Search</button>
</form>



<h3>Results</h3>    
 
    {% for room in rooms  %}
      <h3>{{room.name}}</h3>
    {% endfor %}

    <h5>

      {% if page > 1 %}
      <a href="?page={{page|add:-1}}">Previous</a>
      {% endif %}
  
       Page {{page}} of {{page_count}}
  
  
      {% if page < page_count %}
      <a href="?page={{page|add:1}}">Next</a>
      {% endif %}
  
  
  </h5>

{% endblock content %}