{% extends "base.html" %}

{% block rooms_title %}
    Log In
{% endblock rooms_title %}

{% block search-bar %}{% endblock search-bar %}

{% block content %}

    <div class="container lg:w-5/12 md:w-1/2 xl:w-5/12 mx-auto my-10 flex flex-col items-center border p-6 border-gray-400">
            {% include "partials/social_login.html" %}
        
            <div class="flex items-center my-5">
                <div class="h-px w-full bg-gray-800"></div>
                <span class="text-gray-700 font-medium mx-4 texgt-sm">or</span>
                <div class="h-px w-full bg-gray-800"></div>

            </div>

            <form method="POST" action="{% url 'users:login' %}" class="w-full my-3">
                {% csrf_token %}
                <!-- {{form.as_p}} -->
                <input type="email" placeholder="Email" class="w-full border-2 font-medium text-lg rounded py-5 text-left border-gray-700 px-5 focus:outline-none focus:border-teal-500 mb-3">
                <input type="password" placeholder="Password" class="w-full border-2 font-medium text-lg rounded py-5 text-left border-gray-700 px-5 focus:outline-none focus:border-teal-500 mb-3">
                <button class="w-full border-2 font-medium text-lg text-white text-center rounded-sm py-5 bg-red-500">Login</button>
            </form>
        <div class="mr-2">
        <span>Don't have and account?</span> <a href="{% url 'users:signup' %}" class="text-teal-500 font-medium">Sign Up</a>
        </div>
    </div>

{% endblock content %}
